<section class="section prestations">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <h2>Nos prestations</h2>
      </div>
    </div>
    <div class="row prestas">
      <div class="col col-4 col-d-4">
        <p>Site internet</p>
      </div>
      <div class="col col-4 col-d-4">
        <p>SEO</p>
      </div>
      <div class="col col-4 col-d-4">
        <p>SEA</p>
      </div>
      <div class="col col-4 col-d-4">
        <p>Facebook Ads</p>
      </div>
      <div class="col col-4 col-d-4">
        <p>Test</p>
      </div>
    </div>
  </div>
</section>
