<section class="section prestations">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <h2>Nos prestations</h2>
      </div>
    </div>
    <div class="row prestas">
      <div class="col col-4 col-d-4">
        <h3>Site internet</h3>
        <p>Commencez par développer votre visibilité sur le net par un site internet</p>
      </div>
      <div class="col col-4 col-d-4">
        <h3>SEO</h3>
        <p>Améliorez votre trafic en arrivant dans les premières positions de Google par le référencement naturel</p>
      </div>
      <div class="col col-4 col-d-4">
        <h3>SEA</h3>
        <p>Assurez une bonne visibilité avec Google Adwords</p>
      </div>
      <div class="col col-4 col-d-4">
        <h3>Facebook Ads</h3>
        <p>Développez votre communauté sur Facebook</p>
      </div>
    </div>
  </div>
</section>
